body {
  font-family: Arial, sans-serif;
  background: url("f1img.jpg");
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(2px);
}

.container {
  width: 420px;
  background: #121826dd;
  padding: 20px 25px;
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
  position: relative;
  z-index: 2;
}

h1, h2 {
  text-align: center;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.start-btn {
  background: #ff0000;
  color: #fff;
}

.next-btn {
  background: #1f6feb;
  color: white;
}

.option {
  background: #1b2436;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}

.option:hover {
  background: #202c44;
}

.selected {
  border-color: #ff0000;
  background: #2a384f;
}

#quizBox, #resultBox {
  display: none;
}

.score {
  font-size: 22px;
  text-align: center;
}